@import '../../index.css';

.classPageContainer {
    width: 100%;
    position: relative;
    height: 120vh;
}

.classBackgroundImageContainer {
    height: 680px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.classBackgroundImage {
    flex: 1;
    height: 1300px;
    max-width: 200%;
    position: absolute;
    z-index: 1;
    top: -80px;
    filter: blur(50px);
}

.classPageContent {
    margin: 70px 200px;
    width: 800px;
    z-index: 1;
    position: absolute;
    top: 20px;
    border-radius: 5px;
    background-color: var(--backgroundLighter);
}

.classImageContainer {
    margin: auto;
    width: 100%;
}

.classImage {
    max-width: 100%;
}

.classContentContainer {
    padding: 50px 100px;
    background-color: var(--backgroundLight);
}
