@import '../../index.css';

.accountPageDiv {
    display: flex;
}

.buttonDiv {
    background-color: var(--backgroundLight);
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.accountButton {
    padding: 20px;
    padding-right: 40px;
    text-align: left;
    border-top: 1px solid var(--backgroundLighter);
    border-bottom: 1px solid var(--backgroundLighter);
    font-weight: 400;
    color: #5b5b5b;
}

.accountButton:hover {
    color: black;
}

.active {
    background-color: var(--backgroundLighter);
    color: black;
}

.formDiv {
    margin: 100px auto 160px;
    width: 500px;
}

.updateForm {
    display: flex;
    flex-direction: column;
}

.inputDivs {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.inputDivs > input {
    width: 70%;
    border: 1px solid var(--grayTheme);
    border-radius: 2px;
    padding: 10px;
}

.inputDivs > label {
    width: 30%;
}

.inputDivs .checkbox {
    width:12.8px;
    margin: 0;
}

.checkboxDiv {
    display: flex;

}
