@import '../../index.css';

.footerContainer {
    background-color: var(--themeColor);
    height: 140px;
}

.footerContainer * {
    color: white;
}

.footer {
    margin: auto 0;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.linksDiv, .designerInfo {
    display: flex;
    align-items: baseline;
}

.scsSite {
    margin: 10px
}

.designer {
    margin: 0;
}

.icon {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.facebookIcon {
    /* color: #4064AC;
    color: #3D548E; */
}
/*
.iconAnchor {
    width: 21px;
    height: 21px;
} */
