@import '../../index.css';

.footerContainer {
    background-color: var(--themeColor);
    height: 140px;
}

.footerContainer * {
    color: #E18B65;
}

.footerContainer a:hover {
    color: #eebca6;
}

.footer {
    height: 100%;
    padding: 10px 34px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer p {
    font-size: 12px;
}

.linksDiv, .designerInfo {
    display: flex;
    align-items: baseline;
}

.scsSite {
    margin: 10px
}

.designer {
    margin: 0;
    margin-right: 10px;
}

.icon {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.icon:hover {
    color: #eebca6;
}
