@import url('https://fonts.googleapis.com/css?family=Montserrat:light,medium,semi-bold,bold,extra-bold,black');

.likeButton {
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 2px black;
    background-color: var(--backgroundLighter);
    transition: all .2s ease-out;
}

.likeButton:hover {
    background-color: #F8F7FA;
}

.likeButton:hover .heartIconFilled {
    color: #F05537;
}

.heartIconEmpty {
    font-size: 16px;
}

.heartIconFilled {
    color: #d1410c;
    transition: all .2s ease-out;
}
