@import url('https://fonts.googleapis.com/css?family=Montserrat:light,medium,semi-bold,bold,extra-bold,black');

* {
    box-sizing: border-box;
}

#body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Montserrat';
    font-weight: 300;
}

#page-container {
    background-color: var(--themeDark);
    min-height: 100vh;
}

#root {
    max-width: 1200px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

main {
    min-height: 100vh;
    /* position: relative; */
}

a {
    text-decoration: none;
    color: black;
}

input {
    font-family: 'Montserrat';
}

input:focus {
    background-color: var(--inputGray);
    outline: none;
}

button {
    cursor: pointer;
}

.link-button {
    padding: 0;
    border: none;
    font: inherit;
    color: grey;
    background-color: transparent;
}

.link-button:hover {
    color: inherit;
}

.ctaButton {
    height: 44px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 1px;
    border: 2px solid transparent;
    line-height: 26px;
    font-size: 15px;
    border-radius: 4px;
    background-color: var(--themeColor);
    color: white;
    font-weight: bold;
    transition: all .2s ease-out;
}

.ctaButton:hover {
    background-color: var(--themeLight);
}

.ctaButtonInverse {
    height: 44px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 1px;
    border: 2px solid var(--themeColor);
    line-height: 26px;
    font-size: 15px;
    border-radius: 4px;
    color: var(--themeColor);
    font-weight: bold;
    transition: all .2s ease-out;
}

.ctaButtonInverse:hover {
    background-color: var(--themeLight);
    color: white;
    border: 2px solid transparent;
}

.submitButton {
    margin: 25px auto;
    width: 75%;
}

.likeButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorsDiv > ul {
    padding-left: 20px;
    text-align: center;
    list-style-type: none;
    color: red;
}

.errorsDiv > ul > li {
    padding-top: 7px;
}

.checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid var(--grayTheme);
    font-weight: 300;
}
