/* TODO Add site wide styles */
#body {
    margin: 0;
    padding: 0;
}
/* 
#page-container {
    position: relative;
    min-height: 100vh;
} */

#root {
    /* padding-top: 3.5rem; - navbar */
    padding-bottom: 2.5rem;
}

a {
    text-decoration: none;
}
