/* TODO Add site wide styles */
#body {
    margin: 0;
    padding: 0;
}
/*
#page-container {
    position: relative;
    min-height: 100vh;
} */

#root {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    caret-color: transparent;
}

input:focus {
    outline: none;
    background-color: #e1e1e1;
}

.link-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
