:root {
    --themeColor: rgb(74, 5, 6);
    --themeDark: #240200;
    --themeLight: rgb(122, 8, 10);
    --backgroundLight: #FAFAFA;
    --backgroundLighter: #FFFFFF;
    --grayTheme: #DBDAE3;
    --inputGray: #eeeeee;
}
