@import '../../index.css';

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 50px auto 100px;
    width: 450px;
    border-radius: 15px;
    padding: 20px 0;
    box-shadow: 0.0625rem 0.0625rem 0.625rem -2px #46574D;
}

.form > div {
    padding-bottom: 10px;
    align-self: stretch;
    margin: 0 30px;
}

.form > h2 {
    text-align: center;
}

.nameInputDiv {
    display: flex;
    justify-content: space-between;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

form .userTypeRadioDiv {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.userTypeLabels {
    width: 100%;
    padding-top: 12px;
}

.userTypeLabels input {
    width: 10px;
}

form .checkboxDiv {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.checkboxDiv > * {
    padding: 0 10px;
}

.checkboxInput:focus {
    outline: black solid 1px;
}

.submitButton {
    margin: 25px auto;
    width: 75%;
    border-radius: 30px;
    height: 40px;
}

div.switch {
    align-self: center;
}

.switch *:hover {
    border-bottom: 1px solid #cdcdcd;
}
