@import '../../index.css';

.navDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--themeColor);
    top: 0;
    width: 100%;
    height: 70px;
}

.bannerDiv {
    background-color: var(--themeColor);
    height: 200px;
}

.bannerImageDiv {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.bannerImage {
    flex: 1;
    max-width: 100%;
    position: absolute;
    top: -122px;
}

.logoDiv {
    height: 280px;
    width: auto;
    color: white;
    flex-grow: 1;
    position: absolute;
    top: -20px;
    background: linear-gradient(0.25turn, rgb(74, 5, 6, 0.3), rgba(0, 0, 0, 0));
}

.logoDiv > a {
    font-size: 0;
}

.logo {
    height: 300px;
    margin-top: auto;
}

.searchDiv {
    flex-grow: 2;
}

ul.navlinks {
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    flex-grow: 1;
    align-self: baseline;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

ul.navlinks > * {
    color: white;
    padding: 26px 18px;
    transition: background-color .3s;
}

ul.navlinks > *:hover {
    background-color: var(--themeLight);
}
