nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(74, 5, 6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}

.logo {
    height: auto;
    width: 100px;
    margin: 0 20px;
    color: white;
    font-size: 50px;
}

ul.navlinks {
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    width: 10%;
    height: auto;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul.navlinks > * {
    color: white;
}
