@import '../../index.css';

ul .userButton {
    padding: 0px 0px;
    position: relative;
}

.userIconWelcome > i {
    padding-right: 10px;
}

.userIconWelcome {
    display: flex;
    justify-content: center;;
}

.dropdownDiv {
    display: inline-block;
    width: 100%;
}

.profileDropdown {
    position: absolute;
    background-color: rgb(74, 5, 6);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-inline-start: 0;
}

.profileDropdown > * {
    list-style-type: none;
    padding: 20px;
    color: white;
    text-align: left;
}

.profileDropdown > *:not(:last-child) {
    border-bottom: 1px solid white;
}

.profileDropdown > *:hover {
    background-color: rgb(122, 8, 10);
}
