@import '../../index.css';

.classesPageContainer {
    padding: 50px 0 100px;
}

.classCardContainer {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h2Header {
    text-align: center;
    font-size: 40px;
}

.classCard {
    width: 290px;
    height: 300px;
    margin: 20px;
    position: relative;
}

.classCardContent {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 300px;
    box-shadow: 0 0 64px -64px var(--themeDark);
    transition: box-shadow .2s;
    cursor: pointer;
}

.classCardContent:hover {
    box-shadow: 0 0 39px -18px var(--themeDark);
}

.cardTop {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 190px;
}

.classImage {
    flex: 1;
    height: 100%;
}

.cardBottom {
    flex-grow: 1;
    padding: 15px;
    padding-bottom: 25px;
    height: 25px;
    background-color: var(--backgroundLight);
}

.classTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.classDate {
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
}

.likeButtonDiv {
    position: absolute;
    top: 164px;
    right: 20px;
}
