@import '../../index.css';

.loginButton {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.mainLoginContainer div.loginFormContainer {
    border-radius: none;
}

div.loginFormContainer .form {
    height: 100%;
    margin: 0;
    border-radius: 0;
}
